<div *ngIf="selectedElection$ | async as election">
  <h6 class="text-uppercase text-white bg-dark p-2">Saved Positions</h6>

  <ul class="list-group" *ngIf="election.positions.length; else no_positions">
    <li
      *ngFor="let pos of election?.positions; trackBy: trackByKey"
      class="list-group-item d-flex justify-content-between align-items-center"
    >
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          [id]="pos._id"
          (change)="markPost($event.target.checked, pos._id)"
        />
        <label class="form-check-label" [for]="pos._id">{{
          pos?.pos_name
        }}</label>
      </div>
      <div class="btn-group btn-sm">
        <a
          title="View details"
          class="btn btn-sm btn-outline-primary"
          [routerLink]="['./position-details', pos._id]"
          (click)="markPosition(pos._id)"
        >
          <span><i class="bi-pencil"></i></span></a
        ><button
          [title]="'Remove ' + pos.pos_name"
          class="btn btn-sm btn-outline-danger"
          type="button"
          (click)="removeMarkedPosts(election._id, pos._id)"
        >
          <span><i class="bi-trash"></i></span>
        </button>
      </div>
    </li>
  </ul>

  <ng-template #no_positions>
    <h6>No positions yet. Click Update to add one.</h6>
  </ng-template>

  <button
    class="btn btn-sm btn-danger mt-2"
    type="button"
    *ngIf="markedPositions.length >= 1"
    (click)="removeMarkedPosts(election._id)"
  >
    <span><i class="bi-trash"></i> Remove Positions</span>
  </button>
</div>
