<div class="list-group">
  <a
    *ngFor="let election of elections | async; let i = index"
    [routerLink]="[election._id]"
    class="list-group-item list-group-item-action d-flex flex-column"
    [ngClass]="{ active: election?._id === (selectedElection | async) }"
    aria-current="true"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ election?.title }}</h5>
      <small>{{ election?.createdAt | date: 'fullDate' }}</small>
    </div>
    <p class="mb-1">Academic Year: {{ election?.academicYear }}</p>
  </a>
</div>
