<div class="card" *ngIf="election$ | async as election">
  <div class="card-header">
    <h6>Viewing Election Details</h6>
  </div>
  <div class="card-body">
    <div class="">
      <div>
        <b><em>Title:</em></b>
        <h6 class="text-uppercase">{{ election?.title }}</h6>
      </div>
      <div>
        <b><em>Academic Year:</em></b>
        <h6>
          {{ election?.academicYear }}
        </h6>
      </div>
      <div>
        <b><em>Positions Added:</em></b>
        <h6>
          {{ election?.positions.length }}
        </h6>
      </div>
      <div>
        <b><em>Candidates Added:</em></b>
        <h6>
          {{ election?.candidates.length }}
        </h6>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <a class="btn btn-sm btn-primary" [routerLink]="'edit-election'">
      <span><i class="bi-pencil-square"></i> Update</span></a
    >
  </div>
</div>
