<!-- <div class="ui top attached tabular menu">
  <a class="item" routerLinkActive="active" [routerLink]="['my-profile']"
    >My Profile</a
  >
  <a
    class="item"
    routerLinkActive="active"
    [routerLink]="['lists']"
    *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
    >All Users</a
  >
  <div class="right menu">
    <a
      class="item"
      routerLinkActive="active"
      [routerLink]="['new-user']"
      *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
      >Add New User</a
    >
  </div>
</div>

<div class="ui bottom attached segment">
  <router-outlet></router-outlet>
</div> -->

<div class="ui grid">
  <div class="four wide column">
    <div class="ui vertical fluid tabular menu">
      <a class="item" routerLinkActive="active" routerLink="./my-profile"
        >My Profile</a
      >
      <a
        class="item"
        routerLinkActive="active"
        routerLink="./lists"
        *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
        >All Users</a
      >
      <a
        class="item"
        routerLinkActive="active"
        routerLink="./new-user"
        *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
        >Add New User</a
      >
    </div>
  </div>
  <div class="twelve wide stretched column">
      <div class="ui segment">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
<!--
<div class="ui two column padded grid">
  <div class="four wide column">
    <div class="ui vertical menu">
      <div class="item">
        <div class="header">Users</div>
        <div class="menu">
          <a
            class="item"
            routerLinkActive="active"
            [routerLink]="['my-profile']"
          >
            <i class="user icon"></i>
            My Profile
          </a>
          <a
            class="item"
            routerLinkActive="active"
            [routerLink]="['lists']"
            *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
          >
            <i class="users icon"></i>
            All Users
          </a>
          <a
            class="item"
            routerLinkActive="active"
            [routerLink]="['new-user']"
            *ngIf="user.role === 'SUPERADMIN' || user.role === 'ADMIN'"
          >
            <i class="user plus icon"></i>
            Add New User
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <router-outlet></router-outlet>
  </div>
</div> -->
