<form class="ui large form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="ui stacked segment">
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input
          formControlName="email"
          type="email"
          name="email"
          placeholder="Email"
        />
      </div>
    </div>

    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input
          formControlName="password"
          type="password"
          name="password"
          placeholder="Password"
        />
      </div>
    </div>
  </div>
  <button class="ui fluid large teal button" type="submit">Login</button>
</form>
