<form
  class="card my-3 w-100"
  [formGroup]="form"
  (ngSubmit)="submitLogin()"
  novalidate
>
  <div class="card-header bg-dark text-white d-flex justify-content-center align-items-center">
    <img src="/assets/fav/favicon.png" alt="Logo" />
    <h4 class="mx-1 text-uppercase">
    Eden School</h4>
  </div>
  <div class="card-body d-flex flex-column">

    <h6>Enter your login credentials</h6>
    <hr>

    <div
      class="alert alert-danger alert-dismissible fade show"
      role="alert"
      *ngIf="form.invalid && submitted && form.hasError('invalidCredentials')"
    >
      <h6 class="alert-heading">Invalid Credentials!</h6>
      <p>Your email or password is incorrect!</p>
      <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
    </div>

    <div class="mb-3">
      <div class="form-floating">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          formControlName="email"
          id="email"
          name="email"
          [ngClass]="{
            'is-invalid':
              submitted &&
              f['email'].invalid &&
              (f['email'].dirty || f['email'].touched)
          }"
        />
        <label for="email">Email Address</label>
      </div>
      <div
        *ngIf="
          submitted &&
          f['email'].invalid &&
          (f['email'].dirty || f['email'].touched)
        "
      >
        <div
          class="invalid-feedback"
          [class.show]="
            f['email'].hasError('required') && !f['email'].hasError('email')
          "
        >
          Email is required
        </div>
        <div
          class="invalid-feedback"
          [class.show]="
            !f['email'].hasError('required') && f['email'].hasError('email')
          "
        >
          Email is invalid
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="form-floating">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          formControlName="password"
          id="password"
          name="password"
          [ngClass]="{
            'is-invalid':
              submitted &&
              f['password'].invalid &&
              (f['password'].dirty || f['password'].touched)
          }"
        />
        <label for="password">Password</label>
      </div>
      <div
        *ngIf="
          submitted &&
          f['password'].invalid &&
          (f['password'].dirty || f['password'].touched)
        "
      >
        <div
          class="invalid-feedback"
          [class.show]="f['password'].hasError('required')"
        >
          Password is required
        </div>
      </div>
    </div>

    <button class="btn btn-dark" type="submit">Login</button>
  </div>
</form>
