<table class="ui striped selectable celled fixed table">
  <thead>
    <tr>
      <th *ngFor="let header of headers" (click)="sort(header.key)">
        {{ header?.label }}
        <i
          class="ui caret up icon"
          *ngIf="
            this.sortOrder === 'asc' && sortKey === header?.key && sorted
          "
        ></i>
        <i
          class="ui caret down icon"
          *ngIf="
            this.sortOrder === 'desc' && sortKey === header?.key && sorted
          "
        ></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of data">
      <td *ngFor="let header of headers">
        {{ record[header.key] }}
      </td>
    </tr>
  </tbody>
</table>
