<div class="ui container">
  <div class="ui menu">
    <a class="header item" routerLink="/dashboard"> EdenCast </a>
    <a class="item" routerLinkActive="active" routerLink="/dashboard">
      <i class="home icon"></i>
      Dashboard
    </a>

    <div class="right menu">
      <a class="item" routerLinkActive="active" routerLink="users">
        <i class="settings icon"></i>
        Settings
      </a>
      <a class="item" (click)="logout()">
        <i class="sign-out icon"></i>
        Logout
      </a>
    </div>
  </div>
  <div class="ui segment">
    <router-outlet></router-outlet>
  </div>
</div>
