:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

vt-header {
  grid-area: h;
}

mat-sidenav-container {
  height: 100%;
  grid-area: c;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  width: 200px;
  background-color: lightcoral;
}
