<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-button (click)="navigate('/')">
        <mat-icon>home</mat-icon>
        <span class="logo">Eden Casts</span>
      </button>
      <div *ngIf="!deviceXs">
        <button mat-button (click)="navigate('/')">Home</button>
        <button mat-button>Contact Us</button>
        <button mat-button>About Us</button>
      </div>
    </div>
    <div class="">
      <button mat-icon-button [mat-menu-trigger-for]="headerMenu">
        <mat-icon *ngIf="deviceXs">more_vert</mat-icon>
        <span *ngIf="!deviceXs">Menu</span>
      </button>

      <mat-menu #headerMenu="matMenu">
        <button mat-menu-item (click)="navigate('/users/my-profile')">
        <mat-icon>verified_user</mat-icon>
        <span>My Profile</span>
        </button>
        <button mat-menu-item color="warn" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="deviceXs" fxLayoutAlign="space-between end">
    <button mat-button (click)="navigate('/')">Home</button>
    <button mat-button>Contact Us</button>
    <button mat-button>About Us</button>
  </mat-toolbar-row>
</mat-toolbar>
