<!-- <mat-card>
  <mat-card-title>New User</mat-card-title>
  <mat-card-content> -->

<!-- May be deleted later -->

<!-- May be deleted later -->

<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  [ngClass]="{ error: form.errors }"
>
  <!-- May be deleted later -->
  <h2 mat-dialog-title>Add new user</h2>

  <mat-dialog-content fxLayout="column" fxFlexAlign="center none">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input type="text" name="firstName" matInput formControlName="firstName" />
      <mat-error>
        <span *ngIf="f['firstName'].hasError('required')">
          Required Field
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input type="text" name="lastName" matInput formControlName="lastName" />
      <mat-error>
        <span *ngIf="f['lastName'].hasError('required')"> Required Field </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
      <mat-error>
        <span *ngIf="f['gender'].hasError('required')"> Required Field </span>
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Date of Birth</mat-label>
      <input
        matInput
        [matDatepicker]="userDOB"
        [min]="minDate"
        [max]="maxDate"
        formControlName="dob"
      />
      <mat-datepicker-toggle [for]="userDOB" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #userDOB></mat-datepicker>
      <mat-error>
        <span *ngIf="f['dob'].hasError('required')"> Required field </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" name="email" matInput formControlName="email" />
      <mat-error>
        <span *ngIf="f['email'].hasError('required')">Required field</span>
        <span *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')">Provide valid email</span>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions fxLayoutAlign="space-around">
    <button mat-raised-button color="warn" type="button" mat-dialog-close>
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-dialog-actions>
  <!-- May be deleted later -->

  <!-- <mat-form-field>
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            submitted &&
            (f['firstName'].touched || f['firstName'].dirty) &&
            f['firstName'].invalid
          "
        >
          <span *ngIf="f['firstName'].hasError('required')">
            Required Field
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error
          *ngIf="
            submitted &&
            (f['lastName'].touched || f['lastName'].dirty) &&
            f['lastName'].invalid
          "
        >
          <span *ngIf="f['lastName'].hasError('required')">
            Required Field
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            f['gender'].invalid &&
            submitted &&
            (f['gender'].touched || f['gender'].dirty)
          "
        >
          <span *ngIf="f['gender'].hasError('required')"> Required Field </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="userDOB"
          [min]="minDate"
          [max]="maxDate"
          formControlName="dob"
        />
        <mat-datepicker-toggle
          [for]="userDOB"
          matSuffix
        ></mat-datepicker-toggle>
        <mat-datepicker #userDOB></mat-datepicker>
        <mat-error
          *ngIf="
            submitted &&
            (f['dob'].touched || f['dob'].dirty) &&
            f['dob'].invalid
          "
        >
          <span *ngIf="f['dob'].hasError('required')"> Required Field </span>
        </mat-error>
      </mat-form-field> -->
  <!-- <button mat-raised-button color="primary" type="submit">Submit</button> -->
</form>
<!-- </mat-card-content>
</mat-card> -->
